<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Build and run a PUZZLE program</title>
    <!--script type="text/javascript" src="https://cdn.jsdelivr.net/gh/puzzle-lang/puzzle@0.0.3/puzzle.browser.js"></script-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/puzzlelang@latest/puzzle.browser.js"></script>
    <!-- Stylesheets -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="http://puzzlelang.org/puzzle-invert.png">
    <!-- Android  -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- iOS -->
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <meta name="apple-mobile-web-app-title" content="Puzzle Shell">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="leto-min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/@isomorphic-git/lightning-fs"></script>
    <script src="https://unpkg.com/isomorphic-git@beta"></script>
    <script type="module">
        fs = new LightningFS('fs');
    import http from 'https://unpkg.com/isomorphic-git@beta/http/web/index.js';
    window.http = http;
    </script>
</head>

<body>
    <div id="app" class="leto-frame">
       
        <div class="output leto-pl" v-if="currentProject">
            <!--span class="leto-text-white" style="color:#999999" v-if="!output">Output will be here</span-->
            <pre class="leto-text-white " style="margin-left: 10px;display: inline-block;color:#999999" v-html="output"></pre>
            <div id="ui"></div>
        </div>
        <div class="output leto-pv-sm leto-group bottom-sheet" style="background: transparent;">
            <div class="dropdown leto-card leto-border-none leto-m leto-mt-md-tablet leto-ml-xl-tablet" v-if="!currentProject">
                <div v-for="(project, k) in projects" class="leto-inline-block leto-m-xs leto-click" v-on:click="useProject(k)">
                    {{k}} <span v-on:click="changeProjectName(k)" class="fa fa-pencil"></span>
                </div>
                <div class="leto-button-xs  leto-text-white leto-border-none" v-on:click="addProject(undefined);addOptionsShown=false"><span class="">+</span></div>
            </div>

           
            <center style="width: 100%">
                <br><br>
                <div class="main-wrapper leto-text-center draggable inner_box"   style="max-height: 100%;overflow: scroll;" v-bind:style="currentEditorClass">

                    <div class="leto-text-left ">
                        <div v-if="ideMode" style="float:left">
                          <div class="sidebar" v-if="!naked">

                    <div v-for="(project, k) in projects" class="leto-inline-block leto-mr" v-if="!addOptionsShown && currentProject == k">
                         <span class="fa fa-minus leto-click" v-on:click="ideMode=!ideMode"></span>
                        <span class="leto-ml-xs leto-color-grey leto-click" v-on:click="addDir(k)"><i class="fa fa-folder"></i> +</span>
                       
                        <subdir :k="k" />
                    </div>
                </div>
                        </div>
                       
                        <div class="main-content" v-bind:class="{'main-content-float': ideMode}" v-show="currentProject">
                            <div class="" style="
    padding: 10px;padding-bottom: 20px;
    border-radius: 10px;max-width: 95%">
                                <div id="editor" class="leto-mt-sm"></div>
                            </div>
                             <div class="leto-pl-sm">
                                <div class="leto-group">
<div class="leto-text-dark-grey leto-bubble-xs leto-click leto-group leto-vertical-center leto-horizontal-center leto-mh-none" v-if="!scriptOptionsShown" v-bind:class="{'disabled': !content}" v-on:click="runCode(content)"><i class="fa fa-play"></i></div>

                                    <div class="leto-text-dark-grey leto-bubble-xs leto-click" v-if="!scriptOptionsShown" v-bind:class="{'disabled': !content || !currentProject}" v-on:click="saveContent()"><i class="fa fa-save"></i></div>
                                    
                                    <div class="leto-text-dark-grey leto-bubble-xs leto-click leto-mh-none" v-on:click="ideMode=!ideMode"><i class="fa fa-folder"></i></div>

                                     <div class="leto-bubble-xs leto-text-dark-grey" style="width: 59px;
    border-radius: 100px;
    display: inline-block;
    font-size: 14px;
    padding-top: 4px;">
                                <div class="fa fa-square leto-click" v-on:click="currentEditorClass='width:60%;left:20%;'"></div>
                                <div class="fa fa-caret-down leto-click" v-on:click="currentEditorClass='position:absolute;width:100% !important;left:0px !important;right:0px;bottom:0px;transform:translate(0px, 0px)'"></div>
                                <!--div class="fa fa-caret-left leto-click" v-on:click="currentEditorClass='draggable-left'"></div-->
                                <div class="fa fa-caret-right leto-click" v-on:click="currentEditorClass='position:absolute;width:40% !important;height:100%;left:auto !important;right:0px;top:0px;transform:translate(0px, 0px)'"></div>
                            </div>


                                </div>
                               
                            </div>
                           
                        </div>
                    </div>

                </div>
            </center>
        
        </div>
    </div>
    <script src="ace-builds-1.1.4/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="subdir.js"></script>
    <script src="index.js"></script>
    <script>
    // Read query string parameter
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    document.title = getParameterByName('name') || 'Build and run a PUZZLE program'

    if (getParameterByName('base64')) {
        // Parse base64 encoded puzzle script
        window.puzzle_script = atob(getParameterByName('base64'));
    } else if (getParameterByName('remote')) {
        // Include remote script file
        window.puzzle_script = "include '" + getParameterByName('remote') + "'";
    }

    if (getParameterByName('standalone')){
        document.body
    }



    // target elements with the "draggable" class
interact('.draggable')
  .draggable({
    // enable inertial throwing
    inertia: true,
    // keep the element within the area of it's parent
    modifiers: [
      interact.modifiers.restrictRect({
        restriction: 'parent',
        endOnly: true
      })
    ],
    // enable autoScroll
    autoScroll: true,

    listeners: {
      // call this function on every dragmove event
      move: dragMoveListener,

      // call this function on every dragend event
      end (event) {
        var textEl = event.target.querySelector('p')

        textEl && (textEl.textContent =
          'moved a distance of ' +
          (Math.sqrt(Math.pow(event.pageX - event.x0, 2) +
                     Math.pow(event.pageY - event.y0, 2) | 0))
            .toFixed(2) + 'px')
      }
    }
  }).resizable({
    // resize from all edges and corners
    edges: { left: true, right: true, bottom: true, top: true },

    listeners: {
      move (event) {
        var target = event.target
        var x = (parseFloat(target.getAttribute('data-x')) || 0)
        var y = (parseFloat(target.getAttribute('data-y')) || 0)

        // update the element's style
        target.style.width = event.rect.width + 'px'
        target.style.height = event.rect.height + 'px'

        // translate when resizing from top or left edges
        x += event.deltaRect.left
        y += event.deltaRect.top

        target.style.transform = 'translate(' + x + 'px,' + y + 'px)'

        target.setAttribute('data-x', x)
        target.setAttribute('data-y', y)
       
      }
    },
    modifiers: [
      // keep the edges inside the parent
      interact.modifiers.restrictEdges({
        outer: 'parent'
      }),

      // minimum size
      interact.modifiers.restrictSize({
        min: { width: 100, height: 50 }
      })
    ],

    inertia: true
  })

function dragMoveListener (event) {
  var target = event.target
  // keep the dragged position in the data-x/data-y attributes
  var x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx
  var y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy

  // translate the element
  target.style.transform = 'translate(' + x + 'px, ' + y + 'px)'

  // update the posiion attributes
  target.setAttribute('data-x', x)
  target.setAttribute('data-y', y)
}

// this function is used later in the resizing and gesture demos
window.dragMoveListener = dragMoveListener




    puzzle.parse(window.puzzle_script)
    </script>
</body>

</html>